@import "normalize";
@import "_variables";

@import "header";
@import "footer";

html{
  height: 100%;
}


body {
  margin: 0;
  font-family: $font;
  position: relative;
  min-height: 100%;
  padding-bottom: $footer-height;
  box-sizing: border-box;
}


