@import "normalize";

$break-small: 480px;
$break-large: 1200px;

$link-color: #d4d9e0;
$header-color: #444;
$dropdown-color: #bbb;
$font: sans-serif;

body {
  margin: 0;
  font-family: $font;
}

main {
  display:flex;
  flex-direction: column;
  margin: 0 auto;
}



form {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
  max-width: 15rem;
  padding: 2rem 0;
}

.inactive {
  display: none;
}

input {
  margin-bottom: 15px;

  &:last-of-type {
    margin-top: 10px;
  }
}

div {
  max-width: 25rem;
  width: 100%;
  background: #95a5a6;
  position: relative;
  margin: 0 auto;
  margin-top: 25vh;
}

main p {
  margin: 0 auto;
  padding-top: 15px;
}

.login {
  &-alert{
    background-color: red;
    border: 2px solid darkred;
    border-radius: .3rem;
    color: white;
    padding: .5rem;
    &.success{
      background-color: green;
      border: 2px solid darkgreen;
    }
  }
}
@import "header";